@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
    @apply text-base;
  }

  .btn-info {
    @apply btn;
    @apply bg-blue-500 hover:bg-blue-700;
  }

  .btn-success {
    @apply btn;
    @apply bg-green-500 hover:bg-green-700;
  }

  .btn-error {
    @apply btn;
    @apply bg-red-500 hover:bg-red-700;
  }
}